.wrapper-modal-edit {
  width: 60%;
  margin: 2rem auto 0;
  border: 1px solid grey;
  padding: 1rem;
  position: relative;

  &__header {
    text-align: center;
    font-size: 3rem;
  }
}

.button-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
