.wrapper-modal-edit {
  &__header {
    text-align: center;
    font-size: 3rem;
  }
}

.button-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.impairedVersion label, .impairedVersion textarea {
  font-size: 18px;
}
