.task {
  display: flex;
  justify-content: space-between;
}
.ant-modal {
  width: 60% !important;
}
.task h2 {
  margin: 0;
}
.map-box {
  margin-top: 20px;
}
.ant-divider-horizontal.ant-divider-with-text {
  font-size: 17px;
}

.impairedVersion, .impairedVersion .ant-divider-horizontal.ant-divider-with-text, .impairedVersion .ant-modal-title {
  font-size: 20px;
}

.impairedVersion a, .impairedVersion b, .impairedVersion p, .impairedVersion input {
  font-size: 18px;
}
